# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
cmd/execute/execute
cmd/function-sync/function-sync
cmd/blockless-cli-echo/blockless-cli
exp/ws/ws
cmd/raft-node/raft-node
cmd/raft-node-client/raft-node-client
exp/spammer/spammer
exp/hclogger/hclogger
cmd/pbft-node/pbft-node
cmd/pbft-client/pbft-client
/cmd/workyo/workyo
exp/libp2pid/libp2pid
exp/dbwrite/dbwrite
exp/dbread/dbread
b7s-messenger/b7s-messenger


nodectl/.nodes
nodectl/.pids
nodectl/bin
nodectl/lib
nodectl/lib64
nodectl/pyvenv.cfg
exp/counter/counter.wasm
cmd/spammer/spammer
cmd/spammer/spammer_*.log

*.bin

tools/b7s-batch-mongo-db-clear/b7s-batch-mongo-db-clear
